<nav class="flex-div">
<div class="nav-left flex-div">
    <div class="logo-box flex-div">
    <img src="../../assets/images/googlelogo.svg" alt="" class="logo" />
    <span>Photos</span>
</div>
</div>

<div class="nav-middle flex-div">
    <div class="search-box flex-div">
        <div class="search-icon">
            <svg width="24px" height="24px" class="v1262d" viewBox="0 0 24 24" aria-hidden="true"><path d="M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5A6.5 6.5 0 1 0 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z"></path></svg>
       </div>
       <input type="text" placeholder="Search your photos and albums">
 
    
        
    </div>

</div>


<div class="nav-right flex-div">
    <div class="example-button-row flex-div">

        <button mat-button class="flex-div">
           <svg width="20px" height="20px" class="v1262d iQFN8c" viewBox="0 0 24 24"><path d="M4 15h2v3h12v-3h2v3c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2m4.41-7.59L11 7.83V16h2V7.83l2.59 2.59L17 9l-5-5-5 5 1.41 1.41z"></path>
        </svg>
            Upload
        </button>

        <button mat-icon-button  class="flex-div">
            <span class="material-symbols-outlined">help</span></button>

          <button mat-icon-button  class="flex-div">
             <span class="material-symbols-outlined">settings</span> 
          </button>

          <button mat-icon-button  class="flex-div"  >
            <svg class="gb_E" focusable="false" viewBox="0 0 24 24"><path d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path><image src="https://ssl.gstatic.com/gb/images/bar/al-icon.png" alt="" height="24" width="24" style="border:none;display:none \9"></image></svg>
          </button>

          <img src="../../../assets/images/rakesh-proofile-pic.jpg" alt="" (click)="openDialog($event)">
        </div>


    <ng-template>
        <h1 mat-dialog-title>Google Apps</h1>
        <div mat-dialog-content>
          <p>Your Google Apps content goes here...</p>
        </div>
      </ng-template>







</div>


</nav>