.progressbar{
  margin: 10px 0px 0 15px  ;

  .border-rad{
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}

.progress-text{
  font-size: 14px;
  padding-top: 10px;
}

}

