<div class="sidebar">
<div class="inner-wrap">
<div class="sortcut-links">




<div class="side-links">
    @for(menu of menuItems; track menu; ){
        <a [routerLink]="menu?.path"  routerLinkActive="active">
            <div [innerHtml]="menu.icon"></div>
             <p>{{ menu.title }}</p> 
        </a>
      }
</div>

<!-- <div class="sidebar-title1">
    <p></p>
  </div> -->
     
    <app-progress-bar></app-progress-bar>

    </div>


</div>
<div class="bottom-fixed">Privacy  ·  Terms  ·  Policy </div>

</div>
